<html>
  <head></head>
  <body> 
    <div class="header" *ngIf="appService.currentPageName === pageName.MAINPAGE">
      <div class="text-box">
            <h1 class="heading-primary">
            <span class="heading-primary-sub">Welcome To</span>
            <span class="heading-primary-main">Neptune Ubicom</span>
            </h1>
            <a href="#" class="btn btn-white btn-animated" routerLink="/section/personal">Personal Section</a>
            <a href="#" class="btn btn-white btn-animated" routerLink="/section/professional">Professional Section</a>
        </div>
      </div>
    <router-outlet></router-outlet> 
    </body>
</html>

