h2 {
    text-transform: uppercase;
    text-align: center;
    top: 45px;
}

.btn-info {
    margin-right: 15px;
    background-color: #fff;
    color: #777;
}
.page-title {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 25px;
    backface-visibility: hidden;
    font-weight: 850;
    font-weight: 35px;
    text-align: center;
   
}
.professionalinfo-btn {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 100px; 
    margin-top: 55px;
    margin-right: 25px;
    position: relative;
    margin-bottom: 12px;
}
.modal.show {
    display: block;
    z-index: 1040;
    position: absolute;
}

.professional {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    color: white;
    width: 95%; 
    margin: 10px;
}

.professional td, .professional th {
    border: 2px solid #ddd;
    padding: 12px;
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}